/* .menu-body {
    border: 2px solid blue;
    text-align: center;
    margin: 20px 500px 50px 20px;
    position: absolute;
    top: 80px;
    right: -10px;
    bottom: 10px;
    width: 900px;
  } */
  /* #getcountnew-start-work {
    background-color:#39a7e7;
    border-radius:42px;
    border:1px solid #39a7e7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding:1px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #39a7e7;
  }
  #getcountnew-start-work:hover {
    background-color:#39a7e7;
  }
  #getcountnew-start-work:active {
    position:relative;
    top:1px;
  }

  #getserviceprice-start-work {
    background-color:#39a7e7;
    border-radius:42px;
    border:1px solid #39a7e7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding:1px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #39a7e7;
  }
  #getserviceprice-start-work:hover {
    background-color:#39a7e7;
  }
  #getserviceprice-start-work:active {
    position:relative;
    top:1px;
  }
  #getnumber-start-work {
    background-color:#39a7e7;
    border-radius:42px;
    border:1px solid #39a7e7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding:1px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #39a7e7;
  }
  #getnumber-start-work:hover {
    background-color:#39a7e7;
  }
  #getnumber-start-work:active {
    position:relative;
    top:1px;
  } */

  
  